/* BackButton.css */

.back-button {
  margin: 1rem;
  background-color: transparent;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  color:#333;
  display: inline-block;

  /* Add this: */
  transition: transform 0.2s ease-in-out;
}

.back-button:hover {
  transform: scale(1.5);
}
