.seabody-page {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.seabody-card {
  max-width: 960px;
  margin: 0%rem auto;
  background: #e3d5ca;
  border-radius: 12px;
  padding: 2rem;
  position: relative;
  z-index: 2;
}

.seabody-header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.seabody-header-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  margin-bottom: -1rem;
}

.seabody-title {
  font-size: 2.5rem;
  color: #333e;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.seabody-subtitle {
  font-size: 1.25rem;
  color:#333;
  margin-top: 0.5rem;
}

.seabody-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.seabody-image {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.seabody-description {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}
